#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btnContainer{
    display: block;
    text-align: center;
    
}
.buttons{
    padding: 10px;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: rgb(105, 167, 203);
    border-radius: 10%;
    border-color: white;
    cursor: pointer;
    transition: background-color 0.25s;

}
.buttons:hover{
    background-color: rgb(41, 81, 104);
}